// CSS Sprite Sketch App mixin -------------------------------------------------------------
//
// $icon-check: 51px 49px '../images/icon-sprite.png' '../images/icon-sprite.svg' -173px -14px;
//
// USAGE: @include cssSprite($icon-check);

@mixin cssSprite( $spriteVals ) {
  width: nth( $spriteVals, 1 );
  height: nth( $spriteVals, 2 );
  background-repeat: no-repeat;
  background: url( #{ nth( $spriteVals, 3 ) } );
  background-image: url( #{ nth( $spriteVals, 4 ) } ), none;
  background-position: nth( $spriteVals, 5 ) nth( $spriteVals, 6 );
}
