---
title: Gulp Starter Kit
---

<main>
  <nav>
    <ol>
      <li>Home</li>
      <li>Styleguide</li>
      <li>Link</li>
      <li>Link</li>
      <li>Link</li>
    </ol>
  </nav>
  <section class="content">
    <h1>Gulp Starter Kit</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus, delectus consequuntur quidem non nulla nam quo eligendi ex quaerat excepturi. Facere, sequi similique dolore nisi aut praesentium cumque in rerum.</p>

    <a href="/" class="btn btn__medium">Button Link</a>

    <picture>
      <!--[if IE 9]><video style="display: none;"><![endif]-->
      <source srcset="images/medium.jpg, images/extralarge.jpg 2x" media="(min-width: 800px)">
      <source srcset="images/large.jpg" media="(min-width: 400px)">
      <!--[if IE 9]></video><![endif]-->
      <img srcset="images/medium.jpg, images/extralarge.jpg 2x" alt="A giant stone face at The Bayon temple in Angkor Thom, Cambodia">
    </picture>

  </section>
</main>
