
$currentDate: current-date('%A, %b %e %Y');
$currentTime: current-time('%T %p %Z');

/*
  Date: #{$currentDate}
  Time: #{$currentTime}
*/

@import 'compass';
@import 'toolkit';
@import 'breakpoint';
@import 'susy';

// General imports ------------------------------------------------------------
//
// These imports don't generate CSS, but make defined variables, functions,
// and mixins available for further usage

@import 'base/config_global';
@import 'base/config-breakpoint';
@import 'base/config-susy';
@import 'base/state';
@import "base/typography-vars";
@import "base/base-colors";

// Normalize and document imports ---------------------------------------------

@import 'module/normalize';
@import '../bower_components/normalize-opentype.css/normalize-opentype';
@import 'module/doc';

// Module imports -------------------------------------------------------------

@import "module/typography";
// @import 'module/forms';
@import 'module/links';
@import 'module/lists';
// @import 'module/tables';
// @import 'module/reporting';
// @import 'module/button';

// Vendor imports -------------------------------------------------------------

// @import 'vendor/somestyles';

// Styles ---------------------------------------------------------------------

// Print ----------------------------------------------------------------------
//
// Inline to avoid the request

// @import 'module/print';

@mixin context($old-context, $new-context) {
    @at-root #{selector-replace(&, $old-context, $new-context)} {
        @content;
    }
}

body {
  @include container(60em);

  nav {
    @include span(4);
    @include font-size(12);
    letter-spacing: .05em;
    color: #a9aeb2;

    li:hover {
      color: #555;
    }

    @include context('body', '.mobi') {
      background: green;
    }

    @include susy-breakpoint(50em, 12) {
      @include span(3);
    }
  }
}

section.content {
  @include span(4);

  @include context('section.content', '.mobi section.content') {
    background: blue;
  }

  @include susy-breakpoint(50em, 12) {
    @include span(last 9);
  }
}


a.btn {
  @include button(hsla(149, 55%, 47%, 1), $white, 4px);

  &__large {
    @include font-size(18);
  }
  &__medium {
    @include font-size(16);
  }
  &__small {
    @include font-size(14);
  }
  &__tiny {
    @include font-size(12);
  }
}
