$bowerPath: '../bower_components/';

@import 'compass';
@import 'breakpoint';
@import 'susy';

// General imports ------------------------------------------------------------
//
// These imports don't generate CSS, but make defined variables, functions,
// and mixins available for further usage

@import 'base/config_global';
@import 'base/config-breakpoint';
@import 'base/config-susy';
@import 'base/state';
@import "base/typography-vars";
@import "base/base-colors";

// Normalize and document imports ---------------------------------------------

@import 'module/normalize';
@import '../bower_components/normalize-opentype.css/normalize-opentype';
@import 'module/doc';

// Module imports -------------------------------------------------------------

@import "module/typography";
// @import 'module/forms';
@import 'module/links';
@import 'module/lists';
// @import 'module/tables';
// @import 'module/reporting';
// @import 'module/button';

// Vendor imports -------------------------------------------------------------

// @import 'vendor/somestyles';

// Styles ---------------------------------------------------------------------

// Print ----------------------------------------------------------------------
//
// Inline to avoid the request

// @import 'module/print';

@mixin context($old-context, $new-context) {
    @at-root #{selector-replace(&, $old-context, $new-context)} {
        @content;
    }
}

body {
  @include container(60em);

  nav {
    @include span(4);
    background: red;

    @include context('body', '.mobi') {
      background: green;
    }

    @include context('body', '.phone.landscape') {
      background: #ff4a47;
    }

    @include susy-breakpoint(50em, 12) {
      @include span(3);
    }
  }
}

section.content {
  @include span(4);

  @include context('section.content', '.mobi section.content') {
    background: blue;
  }

  @include susy-breakpoint(50em, 12) {
    @include span(last 9);
  }
}
